html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: 'Hiragino Mincho Pro',serif;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body.noscroll {
  overflow: hidden;
}

.burger-musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.inner {
  max-width: 110rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.cmn-section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.cmn-section-texts {
  font-size: 1.8rem;
  line-height: 3rem;
}

.cmn-section-texts span {
  display: inline-block;
}

.cmn-link-btn {
  display: inline-block;
  background-color: #222;
  padding: 0.6rem 4.5rem;
  font-size: 1.6rem;
  color: #fff;
  margin-top: 3rem;
}

.cmn-link-btn:hover {
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
}

.cmn-copy-wrapper {
  font-weight: bold;
}

.cmn-copy-wrapper h2.section-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.cmn-copy-wrapper .copy-jp {
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
}

.cmn-copy-wrapper .copy-container .copy-text {
  line-height: 3.2rem;
  font-size: 1.5rem;
  margin-bottom: 3.3rem;
}

@media print, screen and (min-width: 768px) {
  .cmn-copy-wrapper .copy-container .copy-text {
    font-size: 1.7rem;
  }
}

.footer {
  background-color: #525252;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}

.footer small {
  color: #fff;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 8rem;
}

@media print, screen and (min-width: 768px) {
  .header {
    height: 12rem;
  }
}

.header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.header .header-wrapper .site-logo {
  width: 19rem;
  line-height: 8rem;
}

@media print, screen and (min-width: 768px) {
  .header .header-wrapper .site-logo {
    width: 25rem;
    line-height: 12rem;
  }
}

.header .header-wrapper .header-nav {
  display: none;
  background-color: #222;
  opacity: 0.9;
  position: fixed;
  top: 0;
  right: 0;
  width: 68%;
  height: 100vh;
  line-height: 6rem;
  text-align: center;
  vertical-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  font-weight: bold;
}

@media print, screen and (min-width: 768px) {
  .header .header-wrapper .header-nav {
    width: 36%;
  }
}

.header .header-wrapper .header-nav .nav-item a {
  color: #fff;
  font-size: 1.8rem;
}

.header .header-wrapper .header-nav .nav-item:first-child {
  margin-top: 8rem;
}

.header .header-wrapper .open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header .header-wrapper .burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 2.6rem;
  right: 3rem;
}

@media print, screen and (min-width: 768px) {
  .header .header-wrapper .burger-btn {
    top: 3.6rem;
    right: 6rem;
  }
}

.header .header-wrapper .burger-btn .bar {
  display: block;
  background-color: #fff;
  height: 0.2rem;
  width: 2.2rem;
}

.header .header-wrapper .burger-btn .menu {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-left: .5rem;
}

.header .header-wrapper .burger-btn .bar-top,
.header .header-wrapper .burger-btn .bar-mid {
  margin-bottom: 0.4rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-wrapper .burger-btn.black .bar {
  background-color: #222;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.header .header-wrapper .burger-btn.black .menu {
  color: #222;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-wrapper .burger-btn.cross .bar-top {
  -webkit-transform: rotate(45deg) translate(4.5px, 4.5px);
          transform: rotate(45deg) translate(4.5px, 4.5px);
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-wrapper .burger-btn.cross .bar-mid {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-wrapper .burger-btn.cross .bar-bottom {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-wrapper .burger-musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.fv {
  height: 100vh;
}

.fv::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.fv .kv-wrapper {
  background-image: url("../img/kv-img.png");
  background-size: cover;
  background-position: center 0;
  width: 76.4%;
  height: 86.5%;
  position: relative;
}

.fv .kv-wrapper .copy-wrapper {
  position: absolute;
  top: 50%;
  right: -15%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  .fv .kv-wrapper .copy-wrapper {
    right: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

.fv .kv-wrapper .copy-wrapper .copy-jp {
  font-size: 1.6rem;
  margin-bottom: 4px;
}

@media print, screen and (min-width: 768px) {
  .fv .kv-wrapper .copy-wrapper .copy-jp {
    font-size: 2rem;
  }
}

.fv .kv-wrapper .copy-wrapper .copy-company {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: bold;
}

@media print, screen and (min-width: 768px) {
  .fv .kv-wrapper .copy-wrapper .copy-company {
    font-size: 2rem;
  }
}

.fv .kv-wrapper .copy-wrapper .main-copy {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}

@media print, screen and (min-width: 768px) {
  .fv .kv-wrapper .copy-wrapper .main-copy {
    font-size: 7.2rem;
  }
}

.about {
  padding-top: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #fff), color-stop(10%, #F0F0F0));
  background: linear-gradient(#fff 90%, #F0F0F0 10%);
}

.about .about-contents {
  background-image: url("../img/about-img.png");
  background-size: cover;
  padding: 6rem 4vw;
}

@media print, screen and (min-width: 768px) {
  .about .about-contents {
    padding: 10rem 5rem;
  }
}

.about .about-contents .about-texts {
  padding: 5rem 2rem 4rem 3rem;
  max-width: 59rem;
  background-color: #fff;
  opacity: 0.9;
}

.vision {
  padding-bottom: 10rem;
}

.vision .vision-wrapper {
  max-width: 68rem;
  margin: 0 auto;
}

.message {
  height: 120rem;
}

.message .message-wrapper {
  position: relative;
}

.message .message-wrapper .message-image {
  position: absolute;
  left: 0;
  width: 40rem;
}

@media print, screen and (max-width: 450px) {
  .message .message-wrapper .message-image {
    width: 90%;
  }
}

@media print, screen and (min-width: 768px) {
  .message .message-wrapper .message-image {
    width: 37%;
  }
}

.message .message-wrapper .bg-gray {
  background-color: #F0F0F0;
  position: absolute;
  top: 18rem;
  z-index: -1;
  right: 2rem;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

@media print, screen and (min-width: 768px) {
  .message .message-wrapper .bg-gray {
    max-width: 70%;
    top: 15rem;
    right: 3rem;
  }
}

.message .message-wrapper .bg-gray .copy-container {
  padding: 18vh 6vw 6vh 6vw;
}

@media print, screen and (min-width: 768px) {
  .message .message-wrapper .bg-gray .copy-container {
    padding: 18vh 13vw;
  }
}

.company .company-wrapper .section-title {
  font-size: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #CECECE;
}

.company .company-wrapper .company-info-table {
  margin-bottom: 5rem;
  border-spacing: 0;
  width: 100%;
}

@media print, screen and (min-width: 768px) {
  .company .company-wrapper .company-info-table {
    width: 73%;
    margin-left: auto;
  }
}

.company .company-wrapper .company-info-table .company-info-record {
  height: 6rem;
  line-height: 6rem;
}

.company .company-wrapper .company-info-table .company-info-record td {
  font-size: 1.5rem;
  border-bottom: 1px solid #CECECE;
}

@media print, screen and (min-width: 768px) {
  .company .company-wrapper .company-info-table .company-info-record td {
    font-size: 1.7rem;
  }
}

.company .company-wrapper .company-info-table .company-info-record .company-info-title {
  font-weight: bold;
}

.company .company-wrapper iframe {
  width: 100%;
  height: 40rem;
  margin-bottom: 10rem;
}

.works-culture {
  padding: 10rem 0 6rem 0;
  background-color: #F0F0F0;
}

@media print, screen and (min-width: 768px) {
  .works-culture .wc-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.works-culture .wc-contents .works,
.works-culture .wc-contents .culture {
  width: auto;
  padding: 2rem 0;
}

@media print, screen and (min-width: 768px) {
  .works-culture .wc-contents .works,
  .works-culture .wc-contents .culture {
    width: calc(50% - 6rem/2);
  }
}

.works-culture .wc-contents .works-image,
.works-culture .wc-contents .culture-image {
  margin-bottom: 2rem;
}

.topics {
  padding: 6rem 0;
}

@media print, screen and (min-width: 768px) {
  .topics .topics-contents .topics-list {
    width: 63%;
    margin-left: auto;
  }
}

.topics .topics-contents .topics-list .topics-item:nth-child(n+2) {
  margin-top: 3rem;
}

.topics .topics-contents .topics-list .topics-item .topics-date {
  font-size: 0.6rem;
  color: #CECECE;
}

.topics .topics-contents .topics-list .topics-item .topics-title {
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CECECE;
}

@media print, screen and (min-width: 768px) {
  .topics .topics-contents .topics-list .topics-item .topics-title {
    font-size: 1.6rem;
  }
}

.topics .topics-contents .topics-btn {
  width: 17rem;
}

@media print, screen and (min-width: 768px) {
  .topics .topics-contents .topics-btn {
    margin-left: auto;
  }
}

.contact {
  background-color: #F0F0F0;
  padding: 6rem 0 10rem 0;
}

@media print, screen and (min-width: 768px) {
  .contact .contact-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.contact .contact-contents .contact-texts {
  margin-top: 5rem;
}

@media print, screen and (min-width: 768px) {
  .contact .contact-contents .contact-texts {
    width: 43%;
  }
}

@media print, screen and (min-width: 768px) {
  .contact .contact-contents .contact-image-wrapper {
    width: 50%;
  }
}

.contact-form {
  max-width: 76rem;
  margin: 0 auto 10rem;
  padding: 0 1.5rem;
}

.contact-form .contact-lead {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.contact-form .form-wrapper .form-item .form-item-title {
  margin-bottom: 1rem;
}

.contact-form .form-wrapper .form-item .form-item-title label {
  font-size: 1.8rem;
  font-weight: bold;
}

.contact-form .form-wrapper .form-item .form-item-title .required {
  display: inline-block;
  background-color: #222;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 0.3rem;
  margin-left: 1rem;
}

.contact-form .form-wrapper .form-item dd {
  margin-bottom: 3.5rem;
}

.contact-form .form-wrapper .form-item .radio {
  display: inline-block;
  margin-right: 1rem;
}

@media print, screen and (min-width: 768px) {
  .contact-form .form-wrapper .form-item .radio {
    margin-right: 3rem;
  }
}

.contact-form .form-wrapper .form-item .radio span {
  display: inline-block;
  font-size: 1.7rem;
  margin-left: .4rem;
}

.contact-form .form-wrapper .form-item .text input, .contact-form .form-wrapper .form-item .text textarea {
  padding: 1rem 0 1rem 0.5rem;
  display: block;
  width: 100%;
  font-size: 1.7rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-form .form-wrapper .privacy-policy-wrapper .privacy-policy-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.contact-form .form-wrapper .privacy-policy-wrapper .privacy-policy-detail {
  font-size: 1.6rem;
  border: 1px solid #222;
  padding: 1.5rem;
  height: 24rem;
  overflow: scroll;
  margin: 1rem 0 4rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-form .form-wrapper .privacy-policy-wrapper .confirm {
  max-width: 44rem;
  margin: 0 auto 3rem;
}

.contact-form .form-wrapper .privacy-policy-wrapper .confirm .confirm-text {
  font-size: 1.7rem;
  margin-left: 0.4rem;
}

.contact-form .form-wrapper .submit-btn {
  display: block;
  background-color: #222;
  color: #fff;
  padding: 1rem 5.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 auto;
}

.fv {
  height: 100vh;
}

.fv::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 78%;
  z-index: -1;
}

.fv .about-kv-wrapper {
  background-image: url("../img/about-img.png");
  background-size: cover;
  background-position: center 0;
  width: 76.4%;
  height: 67%;
  position: relative;
}

.fv .about-kv-wrapper .cmn-copy-wrapper {
  position: absolute;
  top: 50%;
  right: -15%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  .fv .about-kv-wrapper .cmn-copy-wrapper {
    right: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

.fv .about-kv-wrapper .cmn-copy-wrapper .page-title {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: bold;
}

@media print, screen and (min-width: 768px) {
  .fv .about-kv-wrapper .cmn-copy-wrapper .page-title {
    font-size: 7.2rem;
  }
}

.fv .about-kv-wrapper .cmn-copy-wrapper .jp-page-title {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 4px;
}

@media print, screen and (min-width: 768px) {
  .fv .about-kv-wrapper .cmn-copy-wrapper .jp-page-title {
    font-size: 2rem;
  }
}

.fv {
  height: 100vh;
}

.fv::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 78%;
  z-index: -1;
}

.fv .contact-kv-wrapper {
  background-image: url("../img/recruit-img.png");
  background-size: cover;
  background-position: center 0;
  width: 76.4%;
  height: 67%;
  position: relative;
}

.fv .contact-kv-wrapper .copy-wrapper {
  position: absolute;
  top: 50%;
  right: -15%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fff;
}

@media print, screen and (min-width: 768px) {
  .fv .contact-kv-wrapper .copy-wrapper {
    right: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

.fv .contact-kv-wrapper .copy-wrapper .page-title {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: bold;
}

@media print, screen and (min-width: 768px) {
  .fv .contact-kv-wrapper .copy-wrapper .page-title {
    font-size: 7.2rem;
  }
}

.fv .contact-kv-wrapper .copy-wrapper .jp-page-title {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 4px;
}

@media print, screen and (min-width: 768px) {
  .fv .contact-kv-wrapper .copy-wrapper .jp-page-title {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */