.about {
  padding-top: 10rem;
  background: linear-gradient(cl(white) 90%, cl(gray) 10%);
  .about-contents {
    background-image: url('../../img/about-img.png'); // ★ //
    background-size: cover;
    padding: 6rem 4vw;
    @include overTab {
      padding: 10rem 5rem;
    }
    .about-texts {
      padding: 5rem 2rem 4rem 3rem;
      // width: 50%;
      max-width: 59rem;
      background-color: cl(white);
      opacity: 0.9;
    }
  }
}