.fv {
  height: 100vh;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: cl(black);
    width: 50%;
    height: 78%;
    z-index: -1;
  }
  .contact-kv-wrapper {
    background-image: url('../img/recruit-img.png');
    background-size: cover;
    background-position: center 0;
    width: 76.4%;
    height: 67%;
    position: relative;
    .copy-wrapper {
      position: absolute;
      top: 50%;
      right: -15%;
      transform: translate(0,-50%);
      color: cl(white);
      // x軸方向に50%分移動、y軸方向に-50%分移動。//
      @include overTab {
        right: 0;
        transform: translate(50%, -50%);
      }
      .page-title {
        font-size: 5rem;
        line-height: 1.2;
        font-weight: bold;
        @include overTab {
          font-size: 7.2rem;
        }
      }
      .jp-page-title {
        display: block;
        font-size: 1.6rem;
        margin-bottom: 4px;
        @include overTab {
          font-size: 2rem;
        }
      }
    }
  }
}
