// インナー
.inner {
  max-width: 110rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.cmn-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.cmn-texts {
  font-size: 1.8rem;
  line-height: 3rem;
  span {
    display: inline-block;
  }
}

// 共通のボタン
.cmn-btn {
  display: inline-block;
  background-color: cl(black);
  padding: 0.6rem 4.5rem;
  font-size: 1.6rem;
  color: cl(white);
  margin-top: 3rem;
}

