// インナー
.inner {
  max-width: 110rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.cmn-section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.cmn-section-texts {
  font-size: 1.8rem;
  line-height: 3rem;
  span {
    display: inline-block;
  }
}

// 共通のボタン
.cmn-link-btn {
  display: inline-block;
  background-color: cl(black);
  padding: 0.6rem 4.5rem;
  font-size: 1.6rem;
  color: cl(white);
  margin-top: 3rem;
  &:hover {
    opacity: 0.8;
    transition: .3s;
  }
}

// about,contactページのテキスト
.cmn-copy-wrapper {
  font-weight: bold;
  h2.section-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .copy-jp {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }
  .copy-container {
    .copy-text {
      line-height: 3.2rem;
      font-size: 1.5rem;
      margin-bottom: 3.3rem;
      @include overTab {
        font-size: 1.7rem;
      }
    }
  }
}
